h1 {
  color: black;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 80px;
  margin-bottom: 50px;
  margin-left: 10%;
  margin-right: 10%;
  
}

h3 {
  color: black;
  font-family: 'Courier New';
  font-size: large;
  margin-top: 20px;
  margin-bottom: -10px;
  font-style: italic;
}

h5 {
    color: black;
    font-family: 'Courier New';
    margin-top: -25px;
    font-size: small;
    margin-bottom: 0px;
    margin-left: -.5px;
    font-style: italic;
}

h6 {
    color: black;
    font-family: 'Courier New';
    margin-top: -10px;
    font-size: xx-small;
    margin-bottom: 0px;
    margin-left: -.5px;
}

body {
  color: rgb(29, 29, 29);
  font-family: monospace;
  line-height: 25px;
  margin-left: 35%;
  margin-right: 35%;
  margin-bottom: 100px;
}